@model Projeto3.Models.Pessoa
@{
    ViewBag.Title = "Lista";
}

<h2>Lista</h2>
 
<div>
    <b>@Html.LabelFor(x=> x.Codigo)</b>
</div>
<div>
    @Model.Codigo
</div>


<div>
    <b>@Html.LabelFor(x=> x.Nome)</b>
</div>
<div>
    @Model.Nome
</div>


<div>
    <b>@Html.LabelFor(x=> x.Email)</b>
</div>
<div>
    @Model.Email
</div>
@Html.ActionLink("Voltar", "Index", "Home")